extends layout

block title
  title #{comic.title} | Confused: A Webcomic by Ben Saufley

block body
  header.page-header
    nav
      if prevId !== null
        a.prev(href=`/${prevId}`) Previous
      if nextId !== null
        a.current(href='/') Most Recent
        a.next(href=`/${nextId}`) Next
    h1.
      Con<span />fused
    h2
      | A Webcomic by
      |
      a(href='http://bensaufley.com') Ben Saufley

  article.comic
    header
      h3= comic.title
      time(datetime=moment(comic.date_added).toISOString()).
        Published on #{moment(comic.date_added).format('dddd, MMMM Do, YYYY')}
    img.comic(src=`${awsUrl}${comic.file_name}` alt=`Comic: ${comic.title}`)
  nav
    if prevId !== null
      a.prev(href=`/${prevId}`) Previous
    if nextId !== null
      a.current(href='/') Most Recent
      a.next(href=`/${nextId}`) Next
    form(action='/' method='get')
      select(id='comics' name='id')
        each record in comics
          option(value=record.id selected=comic.id===record.id)
            = record.title
            |
            | (#{moment(record.date_added).format('MMM D, YYYY')})
      button(type='submit') Go
  script(src='/assets/scripts.js')
